.margin-top-15 {
    margin-top: 15px;
}
.margin-top-bottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
